workflows/inventory_alerts_daily_report.json
{
  "name": "Inventory Alerts - Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -80
      ],
      "id": "640ef594-f37b-432f-8fc4-2fdc9764a363",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8001/alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -80
      ],
      "id": "ce8671d0-0b18-4597-9d10-d13b1d174080",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5ab1a214-ba56-41df-8000-acf1be06d369",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        -80
      ],
      "id": "9b1b2cfc-6aa9-41af-bc91-f29378dc3581",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "daniel.sh.be@gmail.com",
        "subject": "={{ $json.severity.toUpperCase() }} Inventory Alert - Dead Stock at {{ $json.dead_stock_pct }} %",
        "message": "=<h2>Inventory Alert Report</h2>\n\n<p><strong>Severity:</strong> {{ $json.severity.toUpperCase() }}</p>                     \n<p><strong>Dead Stock:</strong> {{ $json.dead_stock_pct }}% of total inventory value</p> \n                                                                                         \n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse: collapse;\">    \n  <tr style=\"background-color: #f2f2f2;\">                                                \n    <th>Category</th>                                                                    \n    <th>Count</th>\n    <th>Value (USD)</th>                                                                 \n  </tr>                                                                                  \n  <tr>                                                                                   \n    <td>Dead Stock</td>                                                                  \n    <td>{{ $json.dead_stock.count }}</td>                                                \n    <td>${{ $json.dead_stock.total_value.toLocaleString() }}</td>                        \n  </tr>                                                                                  \n  <tr>                                                                                   \n    <td>Overstock</td>                                                                   \n    <td>{{ $json.overstock.count }}</td>                                                 \n    <td>${{ $json.overstock.total_value.toLocaleString() }}</td>                         \n  </tr>                                                                                  \n  <tr>          \n    <td>Reorder Risk</td>                                                                \n    <td>{{ $json.reorder_risk.count }}</td>                                              \n    <td>${{ $json.reorder_risk.total_value.toLocaleString() }}</td>\n  </tr>                                                                                  \n  <tr>          \n    <td>ABC Class A</td>                                                                 \n    <td>{{ $json.abc.count }}</td>\n    <td>${{ $json.abc.total_value.toLocaleString() }}</td>                               \n  </tr>                                                                                  \n</table>                                                                                 \n<p><strong>Total Inventory Value:</strong> ${{ $json.total_inventory_value.toLocaleString() }}</p>\n\n<p style=\"color: gray; font-size: 12px;\">Automated report generated by Inventory Alert   \n  System</p>  ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        -256
      ],
      "id": "c9de34e4-8ee6-4657-a1b4-daf8573ce20e",
      "name": "Send a message",
      "webhookId": "90008d07-8c3d-47ac-9bca-98572c096acf",
      "credentials": {
        "gmailOAuth2": {
          "id": "F72pfRdkiseltIce",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-inventory-alerts",
          "mode": "name"
        },
        "text": "=*Inventory Alert — Severity: {{ $json.severity.toUpperCase() }}*\n\nDead Stock: {{ $json.dead_stock.count }} items — ${{\n$json.dead_stock.total_value.toLocaleString() }} ({{ $json.dead_stock_pct }}% of total\nvalue)\nOverstock: {{ $json.overstock.count }} items — ${{\n$json.overstock.total_value.toLocaleString() }}\nReorder Risk: {{ $json.reorder_risk.count }} items — ${{\n$json.reorder_risk.total_value.toLocaleString() }}\nABC Class A: {{ $json.abc.count }} items — ${{ $json.abc.total_value.toLocaleString() }}\n\nTotal Inventory Value: ${{ $json.total_inventory_value.toLocaleString() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        272,
        -96
      ],
      "id": "459dfad5-3521-4e07-b9d9-7c8b518e3e24",
      "name": "Send a message1",
      "webhookId": "3a1f8963-2072-4cbc-ac9d-c4b7556c2262",
      "credentials": {
        "slackApi": {
          "id": "bgVtPk5rwhj0RrAX",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eefd48dd-10d3-48e0-97e5-effa32ef9944",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4f27e9202d65e8b07ad7ee60e50758d165abc72dc2b145e0e034b16852b8979"
  },
  "id": "vpNEWuFG4Yv7nEBw",
  "tags": []
}